<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ndeftools.boilerplate"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="false" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AndroidNfcActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".DefaultNfcReaderActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            >
           
           <!-- open any tag with ndef content -->
           <intent-filter>
   				 <action   android:name="android.nfc.action.TECH_DISCOVERED" />
   				 <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>            
		 	
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter" />

			<!-- see also http://stackoverflow.com/questions/7114297/how-specify-mimetype-for-read-nfc-tag-with-url -->
			
        </activity>

        <activity
            android:name=".DefaultNfcTagWriterActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>

       <activity
            android:name=".DefaultNfcBeamWriterActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
        
    </application>

</manifest>